@use "./_Colors.scss" as *;

body{
    padding: 0;
    margin: 0;
}

.lucy{
    font-family:"Orelega One', serif";
    font-weight: 600;
    font-size: 1.5rem;
    .text{
        color:$LucyPrimary; 
        
    }

    .background{
        background-color: $LucySecondary;
    }
}

.arturo{
    font-Family: 'Delicious Handrawn';
    font-weight: 600;
    font-size: 1.5rem;
    .text{
        color:$LucyPrimary; 
        
    }

    .background{
        background-color: $LucySecondary;
    }
}
