@use "../SCSS/Colors" as *;
@import '~bootstrap/scss/bootstrap';

.navbar{
    border-bottom: 5px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .navbar-brand{
        color: $pink;
        font-size: 25px;
    }
    

    .nav-link{
        margin-left: 1rem;
    }
        
    img:first-of-type{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        }
    
}
