.header img {
    width: 200px;
    height: 250px;
    padding: 15px;
    padding-top: 25px;
    border-radius: 50px;
}

.header{
    display: flex;
    align-items: center;
}

.header h2{
    vertical-align: middle;
}

