.header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid;
    margin: 5px;
    
}

.header{
    display: flex;
    align-items: center;
}

.header h2{
    text-align: start;
    border: 2px solid;
    background-color: coral;
    width: 200px;
}

